.body {

    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding-top: 100px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.rectangle {
    margin: 0 15%;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
}

.title {
    text-align: center;
    margin-bottom: 5px;
}

.buttons {
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.button {
    margin: 5px;
    padding: 0px 17px; /* Ajustement de la hauteur et de la largeur */
    border-radius: 5px;
    cursor: pointer;
}

.validate-button {
    background-color: #B00000;
    color: white;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    padding: 15px 30px;
}

.cancel-button {
    background-color: #FF9955;
    color: black;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    padding: 15px 30px;
}

select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

select:hover {
    background-color: #FF9955; /* Changer la couleur de fond au survol */
}

.section {
    margin-top: 20px;
}

.section-title {
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
 
}


.footer {
    text-align: center;
    margin-top: 20px;
}


.reservation-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #B00000;
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 9999;
    display: none;
}


/* .visible {
    display: block !important;
} */

.rectangle:hover {
    transform: translate(0, -5px); 
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); 
}           