:root {
    --primary-color: #000;
    --secondary-color: #fff;
    /* Autres variables CSS */
}

/* Styles pour le mode nuit */
html.dark {
    --primary-color: #fff;
    --secondary-color: #333;
    /* Autres variables CSS */
}


.body {
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding-top: 100px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.rectangle {
    border: 2px solid black;
    border-radius: 10px;
    width: 80%; 
    height: 400px; 
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
}
.button-container {
    display: flex;
    justify-content: space-between;
}

.button-ajouter, .button-modifier, .button-supprimer {
    flex-grow: 1;
    padding: 10px 20px;
    /* color: black; */
    text-align: center;
    border-bottom: 1px solid #000;
    cursor: pointer;
}
.button-modifier {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.white-text {
    color: white !important;
}

/* .rectangle:hover, .validate-button:hover, .cancel-button:hover {
    transform: translate(0, -5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
} */

.button-ajouter {
    border-top-left-radius: 8px;
}
.button-supprimer {
    border-top-right-radius: 8px;
}



input[type="text"], input[type="password"] {
    width: 45%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

select
{
    /* width: 100%; */
    flex-grow: 1;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.toggle-password
{
    flex-grow: 1;
    padding-left: 95%;
    
    margin-top: -30px;

    box-sizing: border-box;
}

.validate-button
{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #B00000;
    color: white;
}

.cancel-button
{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FF9955;
    color: white;
}



.rectangle form {
    padding: 50px; 
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group select {
    width: calc(45% - 5px);
}



.recherche-button
{
    border: none;
    border-radius: 5px;
    background-color: #B00000;
    color: white;
}

.form-group2
{
    margin-top: -30px;
}



.sousTitre {
    font-size: 18px;
    padding-left: 10px;
    margin-top: 0px; 
    margin-bottom: 5px;
    flex-grow: 1; /* Pour pousser le bouton supprimer à droite */

}
 
.sousRectangle {
    display: flex; /* Utiliser flexbox */
    justify-content: space-between; /* Distribuer l'espace entre les éléments */
    align-items: center;
    border: #000 solid 1px;
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    height: 50px;
}

.sousRectangle:hover {
    background-color: #FF9955;
    transition: transform 0.3s, box-shadow 0.3s; /* Ajouter la transition uniquement lors du survol */
}


.boutonCarre {
    width: 30px;
    height: 30px;
    margin-left: 40px !important;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    background-color: #fff;

}

.supprimer-image {
    background-image: url("../img/supprimer.png");
}


.form-container {
    display: flex;
    justify-content: center; 
    align-items: flex-start;    
    height: 100%; 
    padding-bottom: 0px;
}

.form-group3 {
    height: 800px;
    padding: 10px;
    border-top: #000 solid 1px;
    padding-bottom: 80px;
}
.form-container
{
    padding-top: 0px;
}

.input-delete
{
    width: 400px !important;
}

.search-button-delete
{
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    background-color: #B00000;
    color: white;
    margin-left: 5px;
}

#sousRectangle:hover, #grandRectangle:hover, 
.recherche-button-delete:hover, .input-delete:hover, .boutonCarre:hover{
    transform: translate(0, -5px); 
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

#form-recherche
{
    padding-bottom: 1px;
}
#form-supprimer
{
    padding-top: 1px;
}


/* Pour les navigateurs WebKit */
.form-group3::-webkit-scrollbar {
    width: 12px; /* Largeur de la barre de défilement */
}

.form-group3::-webkit-scrollbar-track {
    border-radius: 10px; /* Coins arrondis */
}

.form-group3::-webkit-scrollbar-thumb {
    background-color: #b00000; /* Couleur de la barre de défilement */
    border-radius: 10px; /* Coins arrondis */
}


